.character-eyes {
    position: absolute;
    top: 25%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.character-eye-default {
    width: 12px;
    height: 13px;
    margin: 0 20px;
}

.character-eye-blink {
    width: 16px;
    height: 6px;
    margin: 0 20px;
}

.character-whiskers {
    position: absolute;
    top: 34%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}


.character-whiskers-left, .character-whiskers-right {
    width: 24px;
    height: 20px;
    margin: 0 45px;
    transform-origin: center bottom; /* Set the transform origin to the bottom center */
    animation: twitchWhiskers 2s infinite alternate; /* Use the defined animation */
}

.twitch-whiskers-left {
    animation: twitchWhiskersLeft 2s infinite alternate;
}

.twitch-whiskers-right {
    animation: twitchWhiskersRight 2s infinite alternate;
}


@keyframes twitchWhiskersLeft {
    0%, 100% {
        transform: scaleY(1) translateY(0) rotate(0deg); /* Initial and final state, no transformation */
    }
    20%, 80% {
        transform: scaleY(1.01) translateY(-1px) rotate(4deg); /* Slight scale up, move up, and rotate counterclockwise */
    }
    40%, 60% {
        transform: scaleY(0.99) translateY(1px) rotate(-2deg); /* Slight scale down, move down, and rotate clockwise */
    }
}

@keyframes twitchWhiskersRight {
    0%, 100% {
        transform: scaleY(1) translateY(0) rotate(0deg); /* Initial and final state, no transformation */
    }
    20%, 80% {
        transform: scaleY(1.01) translateY(-1px) rotate(-4deg); /* Slight scale up, move up, and rotate clockwise */
    }
    40%, 60% {
        transform: scaleY(0.99) translateY(1px) rotate(2deg); /* Slight scale down, move down, and rotate counterclockwise */
    }
}

.character-mouse {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23px;
    height: 27px;
}