.character {
    position: relative;
    width: 224px;
    height: 246px;
}

.character-body {
    position: absolute;
    width: 100%;
    height: 100%;
}

.character-eyes {
    position: absolute;
    top: 25%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.character-eye-default {
    width: 12px;
    height: 13px;
    margin: 0 18px;
}

.character-eye-blink {
    width: 16px;
    height: 6px;
    margin: 0 18px;
}
