.character-eyes {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character-eye-default,
.character-eye-blink {
    width: 0.75vw;
    margin: 1.2vw;
    height: auto; /* Maintain aspect ratio */
}

.character-whiskers {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.character-whiskers-left,
.character-whiskers-right {
    width: 1.4vw; 
    height: auto; /* Maintain aspect ratio */
    margin: 0 2.7vw; 
    transform-origin: center bottom;
}

.character-mouse {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8%; 
    height: auto; /* Maintain aspect ratio */
}


@media (max-width: 600px){
    .character-eye-default,
    .character-eye-blink {
        width: 2.8vw;
        margin: 5vw;
    }

    .character-whiskers-left,
    .character-whiskers-right {
        width: 5vw; 
        margin: 0 10vw; 
    }
}

/* Animations */

.twitch-whiskers-left {
    animation: twitchWhiskersLeft 3s infinite alternate;
}

.twitch-whiskers-right {
    animation: twitchWhiskersRight 3s infinite alternate;
}

@keyframes twitchWhiskersLeft {
    0%, 100% {
        transform: scaleY(1) translateY(0) rotate(0deg); /* Initial and final state, no transformation */
    }
    20%, 80% {
        transform: scaleY(1.01) translateY(-1px) rotate(3deg); /* Slight scale up, move up, and rotate counterclockwise */
    }
    40%, 60% {
        transform: scaleY(0.99) translateY(1px) rotate(-2deg); /* Slight scale down, move down, and rotate clockwise */
    }
}

@keyframes twitchWhiskersRight {
    0%, 100% {
        transform: scaleY(1) translateY(0) rotate(0deg); /* Initial and final state, no transformation */
    }
    20%, 80% {
        transform: scaleY(1.01) translateY(-1px) rotate(-3deg); /* Slight scale up, move up, and rotate clockwise */
    }
    40%, 60% {
        transform: scaleY(0.99) translateY(1px) rotate(2deg); /* Slight scale down, move down, and rotate counterclockwise */
    }
}

