.character-eyes {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.character-eye-default,
.character-eye-blink {
    width: 0.78vw; /* Use vw (viewport width) units for responsive width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 1.4vw; /* Use vw units for responsive margins */
}

.character-whiskers {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.character-whiskers-left,
.character-whiskers-right {
    width: 1.4vw; /* Use vw units for responsive width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 2.7vw; /* Use vw units for responsive margins */
    transform-origin: center bottom;
    animation: twitchWhiskers 2s infinite alternate;
}

.character-mouse {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.4vw; /* Use vw units for responsive width */
    height: auto; /* Maintain aspect ratio */
}
