.comment-input {
  margin-top: 1vw;
}


.comment-input form {
  display: flex;
  align-items: center;
  width: 100%;
}
  
.comment-input input {
  padding: 0.65vw;
  padding-right: 3vw;
  border: 0.2vw solid #ccc;
  border-radius: 0.5vw;
  max-width: 10vw;
  font-size: 1vw;
}
  
.comment-input button {
  display: block;
  border: none;
  cursor: pointer;

  font-size: 1.2vw;
  
  margin-left: 0.5vw;
  padding: 0.58vw 0.7vw;
  border-radius: 0.5vw;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.comment-input button:hover {
  background-color: #217dbb;
}

.comment-input button:active {
  background-color: #14568b;
  transform: scale(0.95);
}