body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1vw;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    max-width: 18vw; /* Adjust as needed */
}
  

.comment-section {
    position: absolute;
    bottom: -1vw;
    left: 0;
    width: 50%;
    text-align: left;
}
  